@page
@using Logic.Animes
@using Logic.Mangas
@using Logic.Characters
@using Logic.Profiles
@model WebAppGraphic.Pages.CharacterTopsModel
@{
    ViewData["Title"] = "Character Tops";
    int? id = HttpContext.Session.GetInt32("userId");
    if (id != null)
    {
        Layout = "_LayoutLogout";
    }
    else
    {
        Layout = "_Layout";
    }
    int position = 1;
}

<div class="background-img-characters"></div>
<h1 class="second-title text-white">Favourite characters</h1>
<div class="container-fluid container-display bg-dark">
    @foreach (Character character in Model.AlLFavouriteCharacters)
    {
        if (Model.CurrentProfile != null)
        {
            CustomList custom = Model.CurrentProfile.GetFavouriteCharacters();
            if (custom != null)
            {
                if (custom.IsContaining(character) == true)
                {
                    <a>
                        <div style="width: 200px; position: relative;" class="d-flex flex-column align-items-center text-white">
                            <img src="@character.Image" style="height: 260px;" />
                            <form method="post" style="position: absolute; top: 10px; right: 10px;" asp-page-handler="RemoveFromFavourites">
                                <button type="submit" class="heart-button bg-transparent border-0 p-0" name="action" value="@character.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from favourites">&#x2764;</button>
                            </form>
                            <p style="padding-top: 8px; color: white; margin-bottom: 0;">@position. @character.Name</p>
                            <p>Nr likes: @character.NrLikes</p>
                            @if (character.AnimeId != 0)
                            {
                                Anime anime = Model.GetAnimeById(character.AnimeId);
                                <p style="padding-top: 8px; display: flex; justify-content: center; text-align: center; color: white;">From anime: @anime.Name</p>
                            }
                            @if (character.MangaId != 0)
                            {
                                Model.Manga = Model.GetMangaById(character.MangaId);
                                <p style="padding-top: 4px; display: flex; justify-content: center; text-align: center; color: white;">From manga: @Model.Manga.Name</p>
                            }
                        </div>
                    </a>
                }
                else
                {
                    <a>
                        <div style="width: 200px; position: relative;" class="d-flex flex-column align-items-center text-white">
                            <img src="@character.Image" style="height: 260px;" />
                            <form method="post" style="position: absolute; top: 10px; right: 10px;" asp-page-handler="AddToFavourites">
                                <button type="submit" class="heart-button" name="action" value="@character.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to favourites">&#x2764;</button>
                            </form>
                            <p style="padding-top: 8px; margin-bottom: 0;">@position. @character.Name</p>
                            <p>Nr likes: @character.NrLikes</p>
                            @if (character.AnimeId != 0)
                            {
                                Anime anime = Model.GetAnimeById(character.AnimeId);
                                <p style="padding-top: 8px; display: flex; justify-content: center; text-align: center;"> From anime: @anime.Name</p>
                            }
                            @if (character.MangaId != 0)
                            {
                                Model.Manga = Model.GetMangaById(character.MangaId);
                                <p style="padding-top: 4px; display: flex; justify-content: center; text-align: center;"> From manga: @Model.Manga.Name</p>
                            }
                        </div>
                    </a>
                }
            }
        }
        else
        {
            <a>
                <div style="width: 200px; position: relative;" class="d-flex flex-column align-items-center text-white">
                    <img src="@character.Image" style="height: 260px;" />
                    <form method="post" style="position: absolute; top: 10px; right: 10px;" asp-page-handler="AddToFavourites">
                        <button type="submit" class="heart-button" name="action" value="@character.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to favourites">&#x2764;</button>
                    </form>
                    <p style="padding-top: 8px; margin-bottom: 0;">@position. @character.Name</p>
                    <p>Nr likes: @character.NrLikes</p>
                    @if (character.AnimeId != 0)
                    {
                        Anime anime = Model.GetAnimeById(character.AnimeId);
                        <p style="padding-top: 8px; display: flex; justify-content: center; text-align: center;"> From anime: @anime.Name</p>
                    }
                    @if (character.MangaId != 0)
                    {
                        Model.Manga = Model.GetMangaById(character.MangaId);
                        <p style="padding-top: 4px; display: flex; justify-content: center; text-align: center;"> From manga: @Model.Manga.Name</p>
                    }
                </div>
            </a>
        }
        position++;
    }
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>