@page
@using Logic.Profiles
@model WebAppGraphic.Pages.ContentDetailsModel
@{
    ViewData["Title"] = "Content details";
    int? id = HttpContext.Session.GetInt32("userId");
    if (id != null)
    {
        Layout = "_LayoutLogout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="content-details-container text-white">
    <div class="text-center" style="padding-left: 5rem;">
        <img src="@Model.Anime.ImageURL" style=" width: 380px; height: 520px; border: 1px solid black; box-shadow: 5px 10px 8px #888888;" />
        <div style="padding-top: 1rem;">@Model.Anime.Name</div>
        <div style="padding-top: 1rem;">@Model.Anime.SeasonAnime @Model.Anime.ReleaseYear</div>
    </div>
    <div>
        <div class="text-white">Studio: @Model.Anime.Studio</div>
        <div class="text-white">Number of episodes: @Model.Anime.NrEpisodes</div>
        <p style="padding-top: 3rem;">Description:</p>
        <p class="text-white">@Model.Anime.Description</p>
    </div>
    <div>
        <p class="text-white">Leave a review:</p>
        <button id="openPopupBtn" class="btn btn-content-details" data-bs-toggle="modal" data-bs-target="#myModal">Add to List</button>
    </div>
</div>
<!-- Modal -->
@{
    int? userId = Model.IsUserLoggedIn();
    if(userId!=null)
    {
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel">Pick a list</h3>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-labelledby="myModal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <ul class="list-group">
                                @{
                                    Profile profile = Model.GetProfile();
                                
                                    foreach (CustomList list in profile.GetAllCustomLists())
                                    {
                                        if(list.ContentType == "Anime") {
                                                string listName = list.Name;
                                                <li class="list-group-item bg-dark text-white">
                                                    <input type="checkbox" name="options[]" value="@listName" />
                                                    <label>@listName</label>
                                                </li>
                                        }
                                    }
                                }
                            </ul>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-content-details" name="action" value="Submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
    else 
    {
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel">You need to be logged in to access this feature!</h3>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-labelledby="myModal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-footer">
                    <form method="post">
                        <button type="submit" class="btn btn-content-details" name = "action" value="Login">Login</button>
                    
                    </form>
                    </div>
                </div>
            </div>
        </div>

    }
}



