@page
@model WebAppGraphic.Pages.ContentDetailsModel
@{
    ViewData["Title"] = "Content details";
    int? id = HttpContext.Session.GetInt32("userId");
    if (id != null)
    {
        Layout = "_LayoutLogout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="content-details-container text-white">
    <div class="text-center" style="padding-left: 5rem;">
        <img src="@Model.Anime.ImageURL" style=" width: 380px; height: 520px; border: 1px solid black; box-shadow: 5px 10px 8px #888888;" />
        <div style="padding-top: 1rem;">@Model.Anime.Name</div>
        <div style="padding-top: 1rem;">@Model.Anime.SeasonAnime @Model.Anime.ReleaseYear</div>
    </div>
    <div>
        <div class="text-white">Studio: @Model.Anime.Studio</div>
        <div class="text-white">Number of episodes: @Model.Anime.NrEpisodes</div>
        <p style="padding-top: 3rem;">Description:</p>
        <p class="text-white">@Model.Anime.Description</p>
    </div>
    <div>
        <p class="text-white">Leave a review:</p>
        <button id="openPopupBtn" class="btn btn-content-details">Add to List</button>
    </div>
</div>

<!-- Popup screen -->
<div id="popupScreen" class="popup">
    <div class="popup-content bg-dark text-white">
        <span id="closeBtn" class="close-btn">&times;</span> <!-- Close button (X) -->
        <h3 style="margin-bottom: 2rem;">Pick a list</h3>
        <ul class="list-group">
            <li class="list-group-item bg-dark text-white">
                <input type="checkbox" id="list1" />
                <label for="list1">Want to Watch</label>
            </li>
            <li class="list-group-item bg-dark text-white">
                <input type="checkbox" id="list2" />
                <label for="list2">Watched</label>
            </li>
            <li class="list-group-item bg-dark text-white">
                <input type="checkbox" id="list3" />
                <label for="list3">Dropped</label>
            </li>
        </ul>
        <div class="submit-btn-container">
            <button id="submitBtn" class="btn btn-content-details">Submit</button>
        </div>
    </div>
</div>

@section Scripts {
    <text>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const openPopupBtn = document.getElementById('openPopupBtn');
                const popupScreen = document.getElementById('popupScreen');
                const submitBtn = document.getElementById('submitBtn');

                openPopupBtn.addEventListener('click', function () {
                    popupScreen.style.display = 'block';
                });

                closeBtn.addEventListener('click', function () {
                    popupScreen.style.display = 'none';
                });

                submitBtn.addEventListener('click', function () {
                    popupScreen.style.display = 'none';
                });
            });
        </script>
    </text>
}

