@page
@using Logic.Animes
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="backgroundImg">
    <div class="masthead-heading text-center titletext">
        <p class="main-title">Welcome to World of Anime</p>
        <p class="sub-title">Discover anime and manga, track you progress and read reviews</p>
    </div>
</div>

<div class="container-fluid container-display bg-dark">
@foreach(Anime anime in Model.Animes) 
{
    <a asp-page="ContentDetails" asp-route-id="@anime.Id">
        <div>
            <p>@anime.Name</p>
            <p>@anime.SeasonAnime @anime.ReleaseYear</p>
            <img src="@anime.ImageURL" />
        </div>
    </a>
}
</div>
