@page
@using Logic.Mangas
@model WebAppGraphic.Pages.NewReleasesMangaModel
@{
    ViewData["Title"] = "New releases manga";
    int? id = HttpContext.Session.GetInt32("userId");
    if (id != null)
    {
        Layout = "_LayoutLogout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="bg-img-manga">
</div>

<h1 class="second-title text-white">New released manga</h1>
<h4 class="second-subtitle text-white">Here you can find the newest manga available.</h4>
<div class="container-fluid container-display bg-dark">

    @foreach (Manga manga in Model.NewReleasesManga())
    {
        <a asp-page="ContentDetailsManga" asp-route-id="@manga.Id">
            <div class="d-flex flex-column align-items-center">
                <img src="@manga.ImageURL" style="width: 190px; height: 260px;" />
                <p style=" padding-top: 8px">@manga.Name</p>
                <p>@manga.ReleaseYear @manga.Status</p>
            </div>
        </a>
    }
</div>