@page
@using Logic.Animes
@using Logic.Characters
@using Logic.Enums
@using Logic.Mangas
@using Logic.Profiles
@model WebAppGraphic.Pages.ProfileModel
@{
	Layout = "_LayoutLogout";
}

<div class="background-img-profile"></div>
<div class="profile-container">
    <div class="profile-header">
        <label class="username" asp-for="CurrentUser.Profile.Username">@Model.CurrentUser.Profile.Username</label>
        <p class="join-date" asp-for="CurrentUser.JoinDate">Joined: @Model.CurrentUser.JoinDateParsed()</p>
        <div class="genres">Genres: @Model.CurrentUser.Profile.GetGenresString()</div>
        <button id="openPopupBtn" class="btn btn-content-details" data-bs-toggle="modal" data-bs-target="#myModal">Preferred genres</button>
    </div>
    <div class="statistics-box text-white">
        <h2 class="statistics-title text-center">Life on Anime</h2>
        <div class="watch-time-details text-center">
            <span>@Model.CurrentUser.Profile.CalculateAnimeMinutes() minutes</span>
            <span>@Model.CurrentUser.Profile.CalculateAnimeHours() hours</span>
            <span>@Model.CurrentUser.Profile.CalculateAnimeDays() days</span>
            <span>@Model.CurrentUser.Profile.CalculateAnimeMonths() months</span>
            <span>@Model.CurrentUser.Profile.CalculateAnimeYears() years</span>
        </div>
    </div>
    @foreach(CustomList list in Model.CurrentUser.Profile.GetAllCustomLists()) 
    {
        <h1 class="second-title text-white">@list.Name</h1>
        <div class="container-fluid container-display bg-dark">

            @if(list.ContentType == "Anime") 
            {
                @foreach (object content in list.GetAllContent().Take(6)) 
                {
                    Anime anime = (Anime)content;
                    <a asp-page="ContentDetails" asp-route-id="@anime.Id">
                        <div class="d-flex flex-column align-items-center">
                            <img src="@anime.ImageURL" style="width: 190px; height: 260px;" />
                            <p style=" padding-top: 8px">@anime.Name</p>
                            <p>@anime.SeasonAnime @anime.ReleaseYear</p>
                        </div>
                    </a>
                }
            }
            else if (list.ContentType == "Manga") 
            {
                @foreach (object content in list.GetAllContent().Take(6))
                {
                    Manga manga = (Manga)content;
                    <a asp-page="ContentDetailsManga" asp-route-id="@manga.Id">
                        <div class="d-flex flex-column align-items-center">
                            <img src="@manga.ImageURL" style="width: 190px; height: 260px;" />
                            <p style=" padding-top: 8px">@manga.Name</p>
                            <p>@manga.Rating / 5 ⭐</p>
                        </div>
                    </a>
                }
            }
            else if (list.ContentType == "Character") 
            {
                @foreach (object content in list.GetAllContent().Take(6))
                {
                    Character character = (Character)content;
                }
            }
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Pick a list</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-labelledby="myModal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                @{
                                    // Calculate the midpoint to split the genres into two columns
                                    int midpoint = (Model.GetAllGenres().Count() + 1) / 2;

                                    //For each genre in the first column
                                    for (int i = 0; i < midpoint; i++)
                                    {
                                        Genre genre = Model.GetAllGenres()[i];
                                        string genreName = genre.ToString();

                                        <li class="list-group-item bg-dark text-white">
                                            <input type="checkbox" name="options[]" value="@genreName" @(Model.CurrentUser.Profile.GetAllPreferredGenres().Contains(genre) ? "checked" : "") />
                                            <label>@genreName</label>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-group">
                                @{
                                    //For each genre in the second column
                                    for (int i = midpoint; i < Model.GetAllGenres().Count(); i++)
                                    {
                                        Genre genre = Model.GetAllGenres()[i];
                                        string genreName = genre.ToString();

                                        <li class="list-group-item bg-dark text-white">
                                            <input type="checkbox" name="options[]" value="@genreName" @(Model.CurrentUser.Profile.GetAllPreferredGenres().Contains(genre) ? "checked" : "") />
                                            <label>@genreName</label>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-content-details" name="action" value="Submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


